body {
  padding: 10px;
  font-family: sans-serif;
}

#addImgPreview, #ImgPreview {
	width: 250px;
}

.Login{
	color: white;
}

.images{
	width: 100%;
	height: 50%;
}

.allImages{
	width: 100%;
} 
.card{
	max-height: 600px;
}